definitions:
  util.Response:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      timestamp:
        type: integer
    type: object
info:
  contact: {}
paths:
  /api/v1/webplus/getArticles:
    get:
      description: 按栏目、站点、时间分页获取文章
      parameters:
      - description: 栏目ID，逗号分隔
        in: query
        name: columnId
        type: string
      - description: 站点ID，逗号分隔
        in: query
        name: siteId
        type: string
      - description: 页码，从1开始
        in: query
        name: page
        type: integer
      - description: 每页大小
        in: query
        name: pageSize
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/util.Response'
      summary: 获取文章列表
      tags:
      - articles
swagger: "2.0"
